%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        cbzts => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::cbzts',
            },
        },
    },
);

%Image::ExifTool::UserDefined::cbzts = (
    GROUPS => {
        0 => 'XMP',
        1 => 'XMP-cbzts',
        2 => 'Image',
    },

    NAMESPACE => {
        'cbzts' => 'https://cbzts.local/xmp/1.0/',
    },

    WRITABLE => 'string',

    PNGparam => { },
);

1;